h2,
h3,
h4,
h5,
h6 {
  color: var(--main-text-color);
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

:root {
  --main-text-color: #212121;
  --text-color-second: #757575;
}

.images h3 {
  color: var(--main-text-color);
}

.studio {
  font-family: "Raleway";
  font-style: normal;
  color: #2196F3;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.studiotwo {
  font-family: "Raleway";
  font-style: normal;
  color: #2196F3;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.span-color {
  color: #212121;
}

.span-color-two {
  color: #FFFFFF;
}

.line-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-item:not(:last-child) {
  margin-right: 30px;
}

.buttons-all {
  background-color: #FFFFFF;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
}

.line {
  text-decoration: none;
}

.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #ECECEC;
}

.features-main__hiden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav {
  margin-left: 93px;
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.site-nav a {
  font-family: "Roboto";
  font-style: normal;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover, .site-nav .link:focus {
  color: #2196F3;
}

.site-nav-two .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-two .link:hover, .site-nav-two .link:focus {
  color: #2196F3;
}

.info {
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.meilstyle {
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.meilstyle:hover, .meilstyle:focus {
  color: #2196F3;
}

.meil {
  margin-right: 50px;
}

.meil-icon {
  display: flex;
  justify-content: left;
  fill: #757575;
}
.meil-icon:hover {
  color: #2196F3;
}

.post-icon {
  margin-right: 10px;
  fill: currentColor;
}

.telefonstyle {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.telefonstyle:hover, .telefonstyle:focus {
  color: #2196F3;
}

.telefon-icon {
  display: flex;
  justify-content: left;
  fill: #757575;
}
.telefon-icon:hover {
  color: #2196F3;
}

.telefon-icon-two {
  margin-right: 10px;
  fill: currentColor;
}

.telefon:hover {
  color: #2196F3;
}

.main-nav {
  display: flex;
  align-items: center;
}

.meil a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color-second);
}

.telefon a {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-second);
}

.info {
  align-items: center;
}

.site-nav .link.current {
  color: #2196F3;
}

.site-nav .link {
  position: relative;
}

.item .decoration::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  position: absolute;
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.links {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.current-now {
  color: #FFFFFF;
  background-color: #2196F3;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2F303A;
}

.hero-image {
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 40px;
  margin-top: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero.button {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 11px 32px;
  text-align: center;
  color: #FFFFFF;
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}

.features p {
  color: var(--text-color-second);
}

.features {
  display: flex;
}

.features-main {
  padding-top: 94px;
}

.features-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.features-text {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-second);
}

.features-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.features-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.features__lists {
  margin-right: 30px;
  gap: 30px;
}

.pictures-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pictures-item {
  margin-right: 30px;
}

.work-description {
  position: relative;
}

.work-text {
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  background: rgba(47, 48, 58, 0.8);
}

.work {
  padding-bottom: 94px;
  padding-top: 94px;
}

.work-title {
  padding-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.comand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comand-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
  margin-right: 30px;
}

.comand p {
  color: var(--text-color-second);
}

.comand-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.comand-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-second);
}

.team-social-links {
  fill: #AFB1B8;
}
.social-links:hover .team-social-links {
  fill: #FFFFFF;
}

.social-items {
  padding-bottom: 42px;
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
}

.social-lists {
  width: 44px;
  height: 44px;
}

.social-links {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links:hover {
  background-color: #2196F3;
}

.social-links-footer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links-footer:hover {
  background-color: #2196F3;
}

.social-links-team {
  fill: #FFFFFF;
}
.social-links-footer:hover .social-links-team {
  fill: #FFFFFF;
}

.clients-list__icon {
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.brand-link:hover .clients-list__icon {
  fill: #2196F3;
}

.brand-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #AFB1B8;
  border-color: #AFB1B8;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.brand-link:hover {
  border: 1px solid #2196F3;
}

.buttons .links {
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons .links:hover, .buttons .links:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #FFFFFF;
  background-color: #2196F3;
}

.buttons {
  margin-bottom: 50px;
}

.buttons-all {
  padding-top: 94px;
}

.button-one {
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 25px;
  padding-right: 25px;
  min-width: 73px;
  border-radius: 4px;
}

.button-two {
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  min-width: 125px;
  border-radius: 4px;
}

.button-three {
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  min-width: 112px;
  border-radius: 4px;
}

.button-four {
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  min-width: 103px;
  border-radius: 4px;
}

.button-five {
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  min-width: 130px;
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.close-button {
  padding: 6px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border: none;
  position: absolute;
  right: 8px;
  top: 8px;
  color: #212121;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close-button:hover {
  color: #2196F3;
}

.modal {
  max-width: 528px;
  min-height: 581px;
  top: 221px;
  left: 536px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 300ms linear;
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-name {
  width: 22px;
  height: 14px;
  left: 576px;
  top: 296px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-right: 466px;
}

.modal-input {
  max-width: 528px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 42px;
}
.modal-input:focus {
  border-color: #2196F3;
}
.modal-input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-icon {
  fill: #2196F3;
}

.text-area {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  outline: none;
}
.text-area:focus {
  border: 1px solid #2196F3;
}
.text-area::-moz-placeholder {
  padding-left: 18px;
  padding-top: 12px;
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  width: 416px;
  height: 96px;
  left: 592px;
  top: 531px;
  font-style: normal;
}
.text-area:-ms-input-placeholder {
  padding-left: 18px;
  padding-top: 12px;
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  width: 416px;
  height: 96px;
  left: 592px;
  top: 531px;
  font-style: normal;
}
.text-area::placeholder {
  padding-left: 18px;
  padding-top: 12px;
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  width: 416px;
  height: 96px;
  left: 592px;
  top: 531px;
  font-style: normal;
}

.check-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  justify-content: center;
  display: flex;
  align-items: center;
}
.check-label::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 8px;
}

.text-color {
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
  margin-left: 4px;
  cursor: pointer;
}

.text-color a {
  color: #2196F3;
}

.check-modal:checked + .check-label::before {
  background-color: #2196F3;
  border: none;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-button {
  font-weight: 500;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 713px;
  background: #188CE8;
  border-radius: 4px;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
}
.modal-button:hover, .modal-button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.close-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: currentColor;
}

.check-icon {
  position: absolute;
  left: 62px;
  bottom: 126px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team {
  padding-bottom: 94px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #FFFFFF;
}

.clients-title {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.clients-list__images {
  margin-right: 30px;
}

.clients-list__images:last-child {
  margin-right: 0px;
}

.size {
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.images-title {
  margin-top: 20px;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.flex {
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
}

.buttons-all {
  padding-bottom: 94px;
}

.flex__list {
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  background-color: #FFFFFF;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex__list:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.images-title {
  margin-top: 20px;
  margin-left: 24px;
}

.images-text {
  padding-top: 4px;
  margin-left: 24px;
}

.flex__list:nth-child(3n) {
  margin-right: 0;
}

.images-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--text-color-second);
}

.techno {
  position: relative;
  overflow: hidden;
}

.description-text {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.images-ref:hover .description-text {
  transform: translateY(0%);
  opacity: 1;
}

.flex__referance:hover .description-text {
  transform: translateY(0%);
  opacity: 1;
}

.flex__referance {
  display: block;
}
.flex__referance:hover, .flex__referance:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.login-footer-text {
  color: #FFFFFF;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 93px;
}

.footer-text {
  margin-bottom: 20px;
  display: block;
}

.join-title {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.form-footer {
  display: flex;
  align-items: center;
}

.button-submit {
  font-weight: 500;
  cursor: pointer;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border-style: none;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 11px;
  fill: #FFFFFF;
}

.form-input-footer {
  padding-left: 16px;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
}

.adress a {
  font-family: "Roboto";
  font-style: normal;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.studio-line-two {
  padding-top: 60px;
}

.studio-line {
  padding-top: 60px;
  padding-bottom: 20px;
}

.studiotwo {
  margin-right: 156px;
}

.adress {
  margin-right: 70px;
  margin-top: 20px;
}

.meil {
  margin-top: 9px;
}

.telefon {
  margin-top: 9px;
}

footer .container {
  display: flex;
  align-items: baseline;
}

.side-color {
  background-color: #2F303A;
}/*# sourceMappingURL=main.css.map */