.studio{
    font-family: 'Raleway';
    font-style: normal;
    color: #2196F3;
    
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    }
    
    .studiotwo{
        font-family: 'Raleway';
        font-style: normal;
    color: #2196F3;
    
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    }

    
    
    