.clients-list__icon{
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier((0.4, 0, 0.2, 1));
    .brand-link:hover &{
    
        fill: #2196F3;
        }
    }

    

    

    

    .brand-link{
        width: 100%;
        height: 100%;
        border-radius: 4px;
        border: 1px solid #AFB1B8;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 92px;
        color: #AFB1B8;
        border-color: #AFB1B8;
        transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier((0.4, 0, 0.2, 1));
    &:hover{
        border: 1px solid #2196F3;
        }
    }

    