.features p{
    color: var(--text-color-second);
    }
    
    .features{
        display: flex;
        flex-wrap: wrap;
        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
            } 
    }

    .features-main{
        @media screen and (min-width: 480px) {
            padding-top: 60px;
            }
            @media screen and (min-width: 768px) {
                padding-top: 60px;
                
                } 
        @media screen and (min-width: 1200px){
            padding-top: 94px;
        }
        
      
    padding-top: 94px;
    }

    .features__title{
    
    
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--main-text-color);
    }
    
    .features__text{
    margin-top: 10px;
    margin-bottom: 0;
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-second);
    }

    .features-list{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        
    
    
    }

    .features-card{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F5F4FA;
        border-radius: 4px;
        width: 270px;
        height: 120px;
        margin-bottom: 30px;
        
        
    }

    .features-card__symbol{
        
      
    }

    .features__lists{
        width: 100%;

        @media screen and (min-width: 768px) {
             
         width: calc((100% - 30px) / 2);
         } 
 
     @media screen and (min-width: 1200px) {
         width: calc((100% - 90px) / 4);
         } 
        
        gap: 30px;
        flex-basis: auto;
       
    }