.adress a{
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.studio-line-two{
padding-top: 60px;
}

.studio-line{

padding-top: 60px;
padding-bottom: 20px;
}

.studiotwo{
    margin-right: 156px;
}

.adress{
    margin-right: 70px;
margin-top: 20px;

}

.meil{
margin-top: 9px;

}

.telefon{
margin-top: 9px;

}



footer .container{

display: flex;
align-items: baseline;
}


.side-color{
background-color:#2F303A;

}


