.login-footer-text{

    color: #FFFFFF;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 93px;
    
    }
    
    .footer-text{
    margin-bottom: 20px;
    display: block;
    }