.site-nav{
    margin-left: 93px;
    display: flex;
    
    }

   

    .site-nav .item:not(:last-child){
        margin-right: 40px;
        
    }
    
    .site-nav a{
    font-family: 'Roboto';
    font-style: normal;
    color: var(--main-text-color);  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;  
    }

    .site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier((0.4, 0, 0.2, 1));
    &:hover,
    &:focus {
    color: #2196F3;
    }
    }
    
    .site-nav-two .link{
        transition-property:color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier((0.4, 0, 0.2, 1));
        &:hover,
        &:focus {
    color: #2196F3;
    }
    }
    
    
    .info{
    
    margin-left: auto;
    display: flex;
    justify-content: center;
    
    }

    .meilstyle{
    color: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier((0.4, 0, 0.2, 1));
    &:hover,
    &:focus {
    color: #2196F3;
    }
    }
    
    .meil{
        margin-right: 50px;
        
    }
    
    .meil-icon{
        display: flex;
    justify-content: left;
    fill:#757575;
    &:hover{
        color: #2196F3;
        }
    }

    

    .post-icon{
        
        margin-right: 10px;
        fill: currentColor;
        
        
    }

    .telefonstyle{
        transition-property:color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier((0.4, 0, 0.2, 1));
    &:hover,
    &:focus {
    color: #2196F3;
    }
    }
    
    .telefon-icon{
        display: flex;
        justify-content: left;
        fill: #757575;
        &:hover{
            color: #2196F3;
        }
    }

   

    .telefon-icon-two{
        
    margin-right: 10px;
    fill: currentColor;
    
    }
   
   .telefon:hover{
    color: #2196F3;
   }
   
   

    .main-nav{
    display: flex;
    align-items: center;
    
    }

    

    
    .meil a{
        
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color-second);
    
    }
    .telefon a{
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--text-color-second);
        
    }

    .info{
    align-items: center;
    }
    
    

   
    
    .site-nav .link.current{
    color: #2196F3;
    }
    
    
    
    

    

    .site-nav .link{
        position: relative;
    }
    
    .item .decoration::after{
        content:'' ;
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    position: absolute;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    }

    

    

    .links{
        
        
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
    
    .current-now{
    color: #FFFFFF;
    background-color: #2196F3;
        
        
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }