
.site-nav{
    margin-left: 93px;
    @media screen and (max-width: 767px) {
    display: none;
    }
    @media screen and (min-width: 768px) {
        display: flex;
    }
   
    }

    .studio{
        @media screen and (min-width: 480px) {
        
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }

    

    .menu-open{
        background-color: transparent;
        border: none;
        margin-left: auto;
        @media screen and (min-width: 480px) {
        
            width: 40px;
            height: 40px;
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
        @media screen and (min-width: 1200px) {
            display: none;
        }
    }

    .menu-open:hover{
        fill: #2196F3;
    }

    .menu-close{
        background-color: transparent;
        border: none;
        @media screen and (min-width: 480px) {
        
            width: 40px;
            height: 40px;
        }
    }
   

    .mob-menu{
position: fixed;
width: 100vw;
height: 100vh;
top: 0;
left: 0;
padding-top: 21px;
padding-bottom: 21px;
background-color: #FFFFFF;
z-index: 1;
> .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
@media screen and (min-width: 768px) {
    display: none;
}
@media screen and (min-width: 1200px) {
    display: none;
}
    }

.is-hidden{
        opacity: 0;
    visibility: hidden;
    pointer-events: none;
    

}

    .menu-close{
        display: block;
        margin-left: auto;
        margin-bottom: 10px;
    }

    .menu-mob__link{
        font-weight: 500;
font-size: 40px;
line-height: calc(47 / 40);
letter-spacing: 0.02em;

color: #212121;
    }

    .menu-mob-contact{
        font-weight: 500;
font-size: 24px;
line-height: calc(28 / 24);
letter-spacing: 0.02em;

color: #757575;
    }

    .current-mob{
        color: #2196F3;
    }

    .mob-soc{
        display: flex;
        list-style: none;
        font-weight: 500;
font-size: 18px;
line-height: calc(22 / 18);


letter-spacing: 0.02em;

color: #2196F3;

    }

    .mob-color{
        color: #2196F3;
        font-weight: 500;
font-size: 34px;
line-height: 40px;
    }

    .mob-soc__links{
        color: #2196F3;
    position: relative;
    }

    

    .mob-soc__lists:not(:last-child) {
        margin-right: 24px;
        border-right:  1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
    }

    .menu-mob__item:not(:last-child) {
    margin-bottom: 32px;
    }

    .menu-mob{
        margin-bottom: 306px;
        
    }

    .menu-mob__meil{
        display: block;
        margin-top: 32px;
        margin-bottom: 64px;
         color: #2196F3;
    }

    .menu-mob__telefon{
        color: #2196F3;
    }
    

    

    .site-nav .item:not(:last-child){
        margin-right: 40px;
        
    }
    
    .site-nav a{
    font-family: 'Roboto';
    font-style: normal;
    color: var(--main-text-color);  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;  
    }

    .site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier((0.4, 0, 0.2, 1));
    &:hover,
    &:focus {
    color: #2196F3;
    }
    }
    
    .site-nav-two .link{
        transition-property:color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier((0.4, 0, 0.2, 1));
        &:hover,
        &:focus {
    color: #2196F3;
    }
    }

    
    
    .info{
    
    margin-left: auto;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 767px) {
        display: none;
        }
        @media screen and (min-width: 768px) {
            display: block;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
            
    }
    }

    .meilstyle{
    color: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier((0.4, 0, 0.2, 1));
    &:hover,
    &:focus {
    color: #2196F3;
    }
    }
    
    .meil{
        
        @media screen and (min-width: 480px) {
        
            margin-right: 40;
        }
        @media screen and (min-width: 1200px) {
        
            margin-right: 50px;
        }
        
    }
    
    .meil-icon{
        display: flex;
    justify-content: left;
    fill:#757575;
    &:hover{
        color: #2196F3;
        }
    }

    

    .post-icon{
        
        margin-right: 10px;
        fill: currentColor;
        
        
    }

    .telefonstyle{
        transition-property:color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier((0.4, 0, 0.2, 1));
    &:hover,
    &:focus {
    color: #2196F3;
    }
    }
    
    .telefon-icon{
        display: flex;
        justify-content: left;
        fill: #757575;
        &:hover{
            color: #2196F3;
        }
    }

   

    .telefon-icon-two{
        
    margin-right: 10px;
    fill: currentColor;
    
    }
   
   .telefon:hover{
    color: #2196F3;
   }
   
   

    .main-nav{
    display: flex;
    align-items: center;
    
    }

    

    
    .meil a{
        
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color-second);
    
    }
    .telefon a{
        
        
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--text-color-second);
        @media screen and (min-width: 480px) {
        
            
        }
    }

    .info{
    align-items: center;
    }
    
    

   
    
    .site-nav .link.current{
    color: #2196F3;
    }
    
    
    
    

    

    .site-nav .link{
        position: relative;
    }
    
    .item .decoration::after{
        content:'' ;
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    position: absolute;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    }

    

    

    .links{
        
        
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
    
    .current-now{
    color: #FFFFFF;
    background-color: #2196F3;
        
        
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }