.send-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 11px;
    
    fill: #FFFFFF;
    
    }
    
    .form-input-footer{
    padding-left: 16px;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color:rgba(255, 255, 255, 0.6);
    
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    
    }